html { 
    background-color: black;
    
   
    
    }

@font-face{ 
    font-family: "SM중고딕10-Regular";
    src:url("./fonts/SM중고딕10-Regular.otf")format("opentype"),
        url("./fonts/SM중고딕10-Regular.woff")format("woff");
}

@font-face{ 
    font-family: "SM중명조-Regular";
    src:url("./fonts/SM중명조-Regular.otf")format("opentype"),
        url("./fonts/SM중명조-Regular.woff")format("woff");
}

@font-face{ 
    font-family: "SM태고딕-Regular";
    src:url("./fonts/SM태고딕-Regular.otf")format("opentype"),
        url("./fonts/SM태고딕-Regular.woff")format("woff");
}

.container{
/*
    max-width: 160%;
    max-height: 170%;
    position: absolute;
    
*/
     width:150%;
    height:auto;
/*    background-color:olive;*/
    padding: 20px;
    background-color: black;
    
}

.grid {
    max-width: 100%;
    max-height:150%;
    position: relative;
    background-color:black;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}


.button_box {
    width:50Px;
    bottom: 50px;
    right: 50px;
    height: auto;
    position: fixed;
    z-index: 3;
    }


.button_init:hover{
/*    filter: blur(10px);*/
    box-shadow: 0px 0px 15px white;
    
   cursor: pointer;
}

.button_up:hover{

    box-shadow: 0px 0px 15px white;
    cursor: pointer;
    text-shadow: 0px 0px 3px white;
}

.button_down:hover{

    box-shadow: 0px 0px 15px white;
    cursor: pointer;
    text-shadow: 0px 0px 3px white;
}




.button_up, .button_down {
  width: 40px;
  height: 40px;
  margin: 10px;
  float: relative;
  border-radius: 100%;
  text-align: center;
  background-color: black;
 
  
  border: 2px solid white;
  
  
}

.button_init {
  width: 40px;
  height: 40px;
  margin: 10px;

  float: relative;
  border-radius: 100%;
  text-align: center;
  background-color: black;
 line-height: 0px;
  
  border: 2px solid white;
  
  
}



.button_text{
    color: white;
    font-family: "SM태고딕-Regular";
    font-size: 18pt;
    line-height: 40px;
}




.shuffle-button {
    font-size: 15pt;
    font-family: "SM태고딕-Regular";
    padding-top:15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-bottom: 50px;
    width: 45px;
    height: 30px;
    float: left;
    text-align: center;
    color:whitesmoke;
    text-align: center;
    filter: blur(0.7px);
}
.shuffle-button:hover{
    cursor: pointer;
     font-size:25pt;
    filter: blur(14px);
    
}


#keyword1,#keyword2,#keyword3,#keyword4,#keyword5,#keyword6,#keyword7,#keyword8,#keyword9,
#keyword10,#keyword11,#keyword12,#keyword13,#keyword14,#keyword15,#keyword16,#keyword17,#keyword18,#keyword19,#keyword20,#keyword21,#keyword22 {
    font-size: 12pt;
    font-family: "SM태고딕-Regular";
    color: dimgray;
    filter :blur(0.3px);
}


span:hover {
    cursor: pointer; 
    color: white;
   
}

.novel{
    font-size:10pt;
    font-family: "SM중명조-Regular"; 
    line-height: 180%;
    word-spacing: -1.8px;
    letter-spacing: -0.55px;
    hyphens: none;
    text-align: justify;
    color: white;
    
}
.novel:hover {
    cursor: pointer; 
}


.dupin{
    font-size:10pt;
    font-family: "SM중고딕10-Regular"; 
    line-height: 180%;
    word-spacing: -1.95px;
    letter-spacing: -0.6px;
    font-stretch:99%;
    hyphens: none;
    text-align: justify;
    color: white;
}


.dupin:hover {
    cursor: pointer; 
}



@keyframes fadeInText{
    100%{
        opacity: 1;
    }
}

@keyframes fadeOutText{
    100%{
        opacity: 0;
    }
}



/*이제부터키워드*/

/*1.뒤팡의 추리법*/
.method{ 
    width:630px;
    max-width: 1000px;
    height: 420px;
    max-height:420px;
    
    float: left;
    margin: 70px;
/*    background-color:aqua;*/
}
#dupin_method {
   
    display:none;
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}



/*2.뒤팡의 조사*/
.invest{ 
    width: 630px;
    height: 328px;
    float: left;
/*    background-color: azure;*/
    margin: 70px;
}

#dupin_invest{
   
    display:none;
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*3.뒤팡의 감상*/
.feeling{ 
/*    position: absolute;*/
    width: 1330px;
    height: 489px;
    float: left;
/*    //background-color:blue;*/
    margin: 70px;
}

#novel_feeling,#dupin_feeling{
   
    display:none;
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*4.뒤팡의 기다림*/
.waiting{ 
    width: 630px;
    height: 282px;
    float: left;
/*    background-color:darkolivegreen;*/
    margin: 70px;
}
#dupin_waiting{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*5.범인의 목소리*/
.voice{ 
    width: 1330px;
    height: 643px;
    float:left;
/*    background-color:fuchsia;*/
    margin: 70px;
}
#novel_voice,#dupin_voice{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

    


/*6.탈출경로1*/
.route_1{ 
    width: 630px;
    height:1400px;
   float: left;
    margin: 70px;
/*    background-color:firebrick;*/

    
}
#novel_route_1,#dupin_route_1{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}


/*7.탈출경로2*/
.route_2{ 

    width: 630px;
    height: 726px;
    float: left;
    margin: 70px;
/*    background-color:darkturquoise;*/
}
#novel_route_2,#dupin_route_2{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}


/*8.범행동기*/
.motive{ 

    width: 630px;
    height: 420px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#novel_motive,#dupin_motive{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*9.범인의 힘 */
.power{ 
/*    position: absolute;*/
    width: 1330px;
    height:489px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#novel_power,#dupin_power{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*10.중간추리 */
.mid{ 
/*    position: absolute;*/
    width:630px;
    height:328px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#dupin_mid{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*11.범인의 손 */
.hand{ 
/*    position: absolute;*/
    width:630px;
    height:558px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#novel_hand,#dupin_hand{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*12.범인의 정체 */
.perp{ 
/*    position: absolute;*/
    width:630px;
    height:864px;
   float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#novel_perp,#dupin_perp{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}
   

/*13.사건의전말1*/
.truth_1{ 
/*    position: absolute;*/
    width:630px;
    height: 293px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
  
}
#novel_truth_1{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*14.사건의전말2*/
.truth_2{ 
/*    position: absolute;*/
    width:630px;
    height: 249px;
    float: left;
    margin: 70px;
/*    background-color: azure;*/
}
#novel_truth_2{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*15.사건의전말3*/
.truth_3{
    width:630px;
    height:469px;
    float:left;
    margin: 70px;
/*    background-color:aquamarine;*/
}

#novel_truth_3{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*16.사건의전말4*/
.truth_4{ 
/*    position: absolute;*/
    width:630px;
    height:227px;
   float: left;
    margin: 70px;
/*    background-color:chocolate;*/
}
#novel_truth_4{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*17.사건의전말5*/
.truth_5{ 
/*    position: absolute;*/
    width:630px;
    height:227px;
    float: left;
    margin: 70px;
/*    background-color:darkmagenta;*/
}
#novel_truth_5{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*18.사건의전말6*/
.truth_6{ 
/*    position: absolute;*/
    width:630px;
    height:186px;
   float: left;
    margin: 70px;
/*    background-color:darkseagreen;*/
}
#novel_truth_6{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*19.사건의전말7*/
.truth_7{ 
/*    position: absolute;*/
    width:630px;
    height:293px;
    float: left;
    margin: 70px;
/*    background-color:azure;*/
}
#novel_truth_7{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*20.사건의전말8*/
.truth_8{ 
/*    position: absolute;*/
    width:630px;
    height:183px;
    margin: 70px;
    float: left;
/*    background-color:floralwhite;*/
}
#novel_truth_8{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*21.사건의전말9*/
.truth_9{ 
/*    position: absolute;*/
    width:630px;
    height: 249px;
    float: left;
    margin: 70px;
/*    background-color:dodgerblue;*/
}
#novel_truth_9{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}

/*21.사건의전말10*/
.truth_10{ 
/*    position: absolute;*/
    width:630px;
    height:337px;
    margin: 70px;
   float: left;
/*    background-color:orange;*/
    
}
#novel_truth_10{
    opacity: 0;
    animation: fadeInText 1s linear forwards;
}































 
    
    
    
